body {
    background: rgb(251, 252, 252);
    margin-left: 200px;
    margin-right: 200px;
}
header {
    margin-top: 70px;
}


h1 {
    color: rgb(93, 109, 126 );
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(160, 64, 0  );
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 20px;
}